{% extends 'layout.html' %}
{%block content%}
{%load static %}

<br>
<br>

<h1>Acerca de Mi:</h1>
<br>
<br>
<p>
    Mi nombre es Nicolás Chandía, soy de Tunuyán-Mendoza-Argentina. Tengo 24 años y un Título Secundario como Electromecánico el cual no estoy ejerciendo en este momento. 
    He realizado un curso de Programación en Python de CoderHouse, el cual fue terminado exitosamente; en este curso 
    aprendí a programar con python desde cero hasta crear mi propia aplicación web, la cual fui modificando de manera 
    que pude realizar mi primer Proyecto..
    <br>
    En este curso vimos diversos temas de programacion como por ejemplo, Python, Django, HTML, SQLite, diversas librerias como: numpy, Pandas, json, entre otras.
    <br>
    Aqui debajo adjuntare el certificado que corrobora que di por finalizado mi curso de Python de CoderHouse.</p>
    <br></p>
<br>

    <center><img src="{%static '/blog/imagenes/certif.png'%}" alt="Certificado" height="720" width="1080"></center>
<br> 
<h2>
<br>
<br>    
    Todos los archivos que sean realizados, estaran con sus respectivos codigos en mi perfil de github "<a href="https://github.com/chandia52" target="_blank">Repositorio Git Hub</a>"
</h2>
<br>
<br>
<h1>
    Gracias por visitar mi Blog! Que lo disfrutes :D
</h1>
{%endblock%}